html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button {
  outline: none;
  border: none;
}
a {
  &:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }

  &:active {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }

  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }

  &:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
}
.github:hover .octo-arm {
  animation: swing 0.56s ease-in-out infinite;
}

/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
