.title {
  margin: 20px 0px 30px 0px;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #34495e;
  svg {
    margin-right: 5px;
    font-size: 2rem;
  }
}
.content {
  width: 60%;
  margin: auto;
}
button.btn {
  border-radius: 20px;
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 960px) {
  .content {
    width: 80%;
  }
}
