
.statisBox {
  text-align: center;
}
.statis {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  text-align: center;
  text-align: center;
  letter-spacing: 0.03rem;
}
.count {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
  a {
    color: #42b983;
  }
}
.name {
  font-size: 14px;
  color: #777;
}
.avatar {
  position: relative;
  z-index: 111;
  text-align: center;
  margin: -110px auto 30px auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  img,
  svg {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
  }
}
.author {
  text-align: center;
  margin-top: 50px;
}
.title {
  margin-bottom: 0.1rem;
  font-size: 28px;
  font-weight: 500;
  color: #3c4858;
}
.career {
  margin: 8px 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #777;
}
.link {
  position: relative;
  width: 100%;
  text-align: center;
}
.info {
  margin-top: -80px;
}
.md {
  margin-top: -30px;
  .author {
    margin: 0px auto;
  }
}
