a{
  &:link{
    text-decoration: none;color: blue;
  }
  &:active{
    text-decoration: none;color: blue;
  }
  &:hover{
    text-decoration: none;color: blue;
  }
  &:visited{
    text-decoration: none;color: blue;
  }
}
