.container {
    overflow: hidden;
    min-height: 1000px;
}

.card {
  position: relative;
  z-index: 20;
  background-color: #fff;
  padding-top: 20px;
}
.catalog {
  width: 200px;
  margin-left: 20px;
  color: #a3a3a3;
  &.fixed{
    position: fixed;
    top: 80px;
  }
  h3 {
    font-size: 18px;
  }
}

