$openSans: 'Open Sans', Helvetica, Arial, sans-serif;


.path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}
.svg {
  cursor: pointer;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: visible;
  margin-right: 20px;
}

.cont {
  position: relative;
  height: 100%;
  background-image: url('../../assets/image/loginBg.png');
  background-size: cover;
  overflow: auto;
  font-family: $openSans;
}
.demo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login {
  position: relative;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(146, 135, 187, 0.8) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  transition: opacity 0.1s,
    transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);

  &.inactive {
    opacity: 0;
    transform: scale(1.1);
  }

  
}
.check {
  position: absolute;
  width: 10rem;
  height: 1.8rem;
  background: #fff;
  transform-origin: 0 100%;
  transform: rotate(-45deg);
  top: 26%;
  left: 50%;
  transform: translate(-18%, -100%) rotate(-45deg);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 1.8rem;
    height: 3.6rem;
    background: #fff;
    box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -35%);
}

.row {
  height: 4rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
  display: flex;
  align-items: center;
}




button.submit {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 5rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: #00d2ff; 
  background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5); 
  background: linear-gradient(to right, #00d2ff, #3a7bd5); 
  font-size: 1.2rem;
  border-radius: 3rem !important;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s !important;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
  }

  &.processing {
    width: 4rem;
    font-size: 0 !important;
    :global(.MuiButton-label){
      font-size: 0 !important;
    }
    &:after {
      opacity: 1;
      animation: rotate 0.5s 0.4s infinite linear;
    }
  }

  &.success {
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s,
    background-color 0.1s 0.3s;
    transform: scale(50);
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.95);

    &:after {
      transition: opacity 0.1s 0s;
      opacity: 0;
      animation: none;
    }
  }
}
.tip{
  display: none;
}
.signup {
  font-size: 1.2rem;
  color: #aba8ae;

  a {
    color: #fff;
    cursor: pointer;
  }
}
  
.name_path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  animation: animatePath 2s 0.5s forwards;
}

.pass_path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  animation: animatePath 2s 0.5s forwards;
}
.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  animation: animRipple 0.4s;
  border-radius: 50%;
}
@keyframes animRipple {
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
