.footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 40px 0 calc(60px + env(safe-area-inset-bottom)) 0;
  text-align: center;
}
.copyright {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.54);
}
.power {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  > iframe {
    width: 100px;
  }
}
.author {
  height: 100%;
  display: inline-block;
}
.split {
  margin: 0 5px;
}
.tip {
  margin-top: 15px;
  font-size: 12px;
  color: #ccc;
}
.bottom {
  width: 100%;
  position: fixed;
  z-index: 1111;
  bottom: 0;
  height: calc(56px + env(safe-area-inset-bottom)) !important;
}
.btn{
  font-size: 1.5rem;
}
