.dream {
  margin-top: 20px;
  margin-bottom: 40px;
}
svg.icon {
  font-size: 3rem;
}
.title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  color: rgba($color: #34495e, $alpha: 0.6);
  font-size: 1.1rem;
}
